/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #9c8e83;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab {
    background: #CCE5F;
    /*background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(to bottom, #6f0000, #200122);*/
    padding: 0px 50px;
    position: relative;
}

    .tab:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #CCE5FF; /*/linear-gradient(#2e3a6a,#2f0b45);*/
        opacity: 0.85;
    }

    .tab .nav-tabs {
        border-bottom: none;
        padding: 0 20px;
        position: relative;
    }

        .tab .nav-tabs li {
            margin: 0 30px 0 0;
        }

            .tab .nav-tabs li a {
                font-size: 18px;
                color: #fff;
                border-radius: 0;
                text-transform: uppercase;
                background: transparent;
                padding: 0;
                margin-right: 0;
                border: none;
                border-bottom: 2px solid transparent;
                opacity: 0.5;
                position: relative;
                transition: all 0.5s ease 0s;
            }

                .tab .nav-tabs li a:hover {
                    background: transparent;
                }

            .tab .nav-tabs li.active a,
            .tab .nav-tabs li.active a:focus,
            .tab .nav-tabs li.active a:hover {
                border: none;
                background: transparent;
                opacity: 1;
                border-bottom: 2px solid #eec111;
                color: black;
            }

    .tab .tab-content {
        padding: 20px 0 0 0;
        margin-top: 40px;
        background: transparent;
        z-index: 1;
        position: relative;
    }

.form-bg {
    background: #ddd;
}

.form-horizontal .form-group {
    margin: 0 0 15px 0;
    position: relative;
}

.form-horizontal .form-control {
    height: 40px;
    background: white;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
}

    .form-horizontal .form-control:focus {
        box-shadow: none;
        outline: 0 none;
    }

.form-horizontal .form-group label {
    padding: 0 20px;
    color: #7f8291;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.form-horizontal .main-checkbox {
    width: 20px;
    height: 20px;
    background: #eec111;
    float: left;
    margin: 5px 0 0 20px;
    border: 1px solid #eec111;
    position: relative;
}

    .form-horizontal .main-checkbox label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

        .form-horizontal .main-checkbox label:after {
            content: "";
            width: 10px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .form-horizontal .main-checkbox input[type=checkbox] {
        visibility: hidden;
    }

        .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
            opacity: 1;
        }

.form-horizontal .text {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}

.form-horizontal .btn {
    width: 100%;
    background: #eec111;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}

    .form-horizontal .btn:focus {
        background: #eec111;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

.form-horizontal .forgot-pass {
    border-top: 1px solid #615f6c;
    margin: 0;
    text-align: center;
}

    .form-horizontal .forgot-pass .btn {
        width: auto;
        background: transparent;
        margin: 30px 0 0 0;
        color: #615f6c;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;
    }

        .form-horizontal .forgot-pass .btn:hover {
            color: #eec111;
        }
